name: TF Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_API_KEY_ID }}
  SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_API_KEY_SECRET }}

permissions:
  actions: read
  checks: write
  contents: read
  id-token: write
  pull-requests: read

jobs:
  tf-test:
    name: ${{ matrix.tf }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf: [tofu, terraform]
    steps:
      - uses: actions/checkout@v4

      - name: Aqua Cache
        uses: actions/cache@v4.2.0
        if: ${{ !github.event.act }} # Don't enable the cache step if we're using act for testing
        with:
          path: ~/.local/share/aquaproj-aqua
          key: v1-aqua-installer-${{runner.os}}-${{runner.arch}}-${{hashFiles('aqua.yaml')}}
          restore-keys: |
            v1-aqua-installer-${{runner.os}}-${{runner.arch}}-

      - name: Install Aqua
        uses: aquaproj/aqua-installer@4551ec64e21bf0f557c2525135ff0bd2cba40ec7 # v3.0.0
        with:
          aqua_version: v2.40.0

      - name: Aqua Install
        shell: bash
        run: aqua install --tags ${{ matrix.tf }}

      - run: ${{ matrix.tf }} init
      - run: ${{ matrix.tf }} test
